<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientSecret</key>
	<string>hKJClYqQCx2iW2zUvXZl5eRMrZ1fZfdUTf68OAp1</string>
	<key>clientID</key>
	<string>4fStTeEdfj0cO1LPwPltyDvGlNxH7IPJlVvFrNpvLlrqooANXE</string>
</dict>
</plist>
